@import '~@angular/material/theming';

.mat-card {
  @include mat-elevation(20, #000, 0.8);
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .register-card {
    width: 23em;
    height: 31em;;
    background-color: #f5f3f34d;
  }

  .register {
    margin-left: 20px;

    .register-table {
      .input-wrapper {
        width: 20em;
      }

      .icon-wrapper {
        padding-left: 1em;
      }

      .hide-icon {
        display: none;
      }

      .show-icon {
        display: inline;
      }
    }
  }

  .action-container {
    margin-left: 20px;
  }
}