.footer-container {
  height: 10vh;
  background-color: var(--theme-color);
  color: #fff;

  .footer-wrapper {
    text-align: center;
    font-size: 0.9em;
    padding-top: 2em;

    .left-text {
      color: #a59d94;
    }
  }
}
