.dashboard-container {
  .title {
    font-weight: lighter;
  }
  .name {
    width: 100%;
    text-align: right;
    font-size: 13px;
  }

  .logout-menu {
    padding: 0 10px;
    min-width: 3em;
  }
  .icon-account {
    color: #f36868
  }
}