<div class="op-board-container">
  <div>
    <ngx-datatable
        #dataTable
        class="material"
        [rows]="rows"
        [columns]="[{name:'Name'},{name:'Gender'},{name:'Company'}]"
        [columnMode]="'force'"
        [headerHeight]="50"
        [loadingIndicator]="isLoading"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [limit]= "page.pageSize"
        [offset]="page.pageNumber"
        (page)='setPage($event)'>
      </ngx-datatable>
  </div>
</div>