<div class="op-board-container">
  <div>
    <ngx-datatable
        #dataTable
        class="material"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'forced'"
        [headerHeight]="50"
        [loadingIndicator]="isLoading"
        [footerHeight]="'auto'"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="totalElements"
        [limit]="pageSize"
        [offset]="pageNumber"
        (page)='setPage($event)'>
      </ngx-datatable>
  </div>
</div>