/*
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
*/

.op-board-container {
  
}

:host {
  display: block;
  width: 100%;
  height: 100%;
  .ngx-datatable {
    height: 100vh;
  }
}
