<div class="board-container">
  <div class="retailer-wrapper">
    <mat-card matRipple class="retailer-card">
      <mat-card-header>
        <div class="card-header">
          <h3>Retailer List</h3>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="card-content">
          Card Content
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="card-actions">
          Card Action
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="retailer-wrapper">
      <mat-card matRipple class="retailer-card">
        <mat-card-header>
          <div class="card-header">
            <h3>Retailer List</h3>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="card-content">
            Card Content
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="card-actions">
            Card Action
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
</div>