@import '~@angular/material/theming';

.mat-card {
  @include mat-elevation(20, #000, 0.8);
}

.retailer-details {
  width: 60%;
  margin: 2em auto;

  mat-card-header {
    border-bottom: 1px solid black;
  }

  .info-header {
    width: 100%;
    text-align: center;
  }

  .info-container {
    width: 100%;

    .info-table-wrapper{
      min-height: 50vh;
      width: 45%;
      margin: auto;
      border-collapse: collapse;

      .row {
        margin-top: 5px;
        font-size: 1.2em;
        font-weight: lighter;

        .asterisk {
          color: red;
        }

        td {
          white-space: nowrap;
        }
      }
    }
  }

  .info-footer {
    margin-bottom: 40px;
    text-align: center;

    .back-info-button {
      width: 8em;
    }

    .edit-info-button {
      width: 8em;
    }
  }
}