@import '~@angular/material/theming';

.mat-card {
  @include mat-elevation(20, #000, 0.8);
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .login-card {
    width: 22em;
    height: 26em;
    background-color: #fff;
    border-radius: 4px !important;
  }

  .login {
    margin-left: 20px;
    margin-top: 2em;

    .input-wrapper {
      width: 20em;
    }
  }

  .action-container {
    padding: 1em 0;
    text-align: center;

    .login-button {
      width: 17em;
    }

    .register-link {
      margin-top: 2em;
      font-size: .9em;

      a {
        color: cornflowerblue;
        text-decoration: none;
      }
    }
  }
}
