<div class="path-container">
  <div>
    <ngx-datatable class="material flat" [rows]="rows" [columnMode]="ColumnMode.flex" [headerHeight]="50"
      [loadingIndicator]="isLoading" [footerHeight]="'auto'" [rowHeight]="'auto'" [externalPaging]="true"
      [count]="totalElements" [limit]="pageSize" [offset]="pageNumber" (page)="setPage($event)"
      [selectionType]="SelectionType.checkbox" [selectAllRowsOnPage]="false" [displayCheck]="displayCheck"
      (select)="onSelect($event)" (activate)="onSelectRow($event)">
      <ngx-datatable-column *ngIf="isDeleteMode" [width]="30" [sortable]="false" [canAutoResize]="false"
        [draggable]="false" [resizeable]="false" [headerCheckboxable]="true" [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="#" [flexGrow]="0.5">
        <ng-template let-row="row" let-expanded='expanded' let-rowIndex='rowIndex' ngx-datatable-cell-template>
          <span>{{row.serialNo}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Path#" [flexGrow]="3.5">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.pathId}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Path Name" [flexGrow]="4">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.pathName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" [flexGrow]="4">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.isActive ? 'Active' : 'Inactive'}}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="delete-button" *ngIf="isDeleteMode && selected.length > 0" (click)="delete()" role="button">
    <i class="material-icons">
      delete
    </i>
  </div>
</div>