:host {
  display: block;

  .ngx-datatable {
    width: 90%;
    margin: 15px auto;

    &.flat {
      margin: 0;
      width: 100%;
      box-shadow: none;
    }
  }
}


.btn {
  display: inline-block;
  padding: 10px 6px;
  border: none;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  width: 96px;
  margin: 0;
  border-radius: 3px;
  transition: background .2s;
  margin: 0 2px;


  &.act {
    background-color: green;

    &:hover {
      background-color: darken(green, 10%);
    }
  }

  &.deact {
    background-color: grey;

    &:hover {
      background-color: darken(grey, 10%);
    }
  }

  &.del {
    background-color: salmon;

    &:hover {
      background-color: darken(salmon, 10%);
    }
  }
}
