<div class="transaction-details">
  <mat-card class="card-elevation transaction-card">
    <mat-card-header>
      <div class="info-header">
        <h2>Transaction Details</h2>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="info-container">
        <table class="info-table-wrapper">
          <tr class="row">
            <td class="left-col">
              <span>Retailer#</span>
              <span *ngIf="isEditMode"
                class="asterisk">*</span>
            </td>
            <td class="right-col">
              <span *ngIf="!isEditMode">{{transaction?.retailerId}}</span>
              <mat-form-field *ngIf="isEditMode" 
                class="input-wrapper">
                <input matInput 
                  name="retailer-id"
                  [value]="transaction?.retailerId"
                  (input)="onInput($event.target.value, 'retailerId')">
              </mat-form-field>
            </td>
          </tr>
          <tr class="row">
            <td class="left-col">
              <span>Retailer</span>
              <span *ngIf="isEditMode"
                class="asterisk">*</span>
            </td>
            <td class="right-col">
              <span *ngIf="!isEditMode">{{transaction?.retailerName}}</span>
              <mat-form-field *ngIf="isEditMode" 
                class="input-wrapper">
                <input matInput 
                  name="retailer-name"
                  [value]="transaction?.retailerName"
                  (input)="onInput($event.target.value, 'retailerName')">
              </mat-form-field>
            </td>
          </tr>
          <tr class="row">
            <td class="left-col">
              <span>Company</span>
              <span *ngIf="isEditMode"
                class="asterisk">*</span>
            </td>
            <td class="right-col">
              <span *ngIf="!isEditMode">{{transaction?.companyName}}</span>
              <mat-form-field *ngIf="isEditMode" 
                class="input-wrapper">
                <input matInput 
                  name="company-name"
                  [value]="transaction?.companyName"
                  (input)="onInput($event.target.value, 'companyName')">
              </mat-form-field>
            </td>
          </tr>
          <tr class="row">
            <td class="left-col">
              <span>Route#</span>
              <span *ngIf="isEditMode"
                class="asterisk">*</span>
            </td>
            <td class="right-col">
              <span *ngIf="!isEditMode">{{transaction?.routeCode}}</span>
              <mat-form-field *ngIf="isEditMode" 
                class="input-wrapper">
                <input matInput 
                  name="route-code"
                  [value]="transaction?.routeCode"
                  (input)="onInput($event.target.value, 'routeCode')">
              </mat-form-field>
            </td>
          </tr>
          <tr class="row">
            <td class="left-col">
              <span>Route</span>
              <span *ngIf="isEditMode"
                class="asterisk">*</span>
            </td>
            <td class="right-col">
              <span *ngIf="!isEditMode">{{transaction?.routeName}}</span>
              <mat-form-field *ngIf="isEditMode" 
                class="input-wrapper">
                <input matInput 
                  name="route-name"
                  [value]="transaction?.routeName"
                  (input)="onInput($event.target.value, 'routeName')">
              </mat-form-field>
            </td>
          </tr>
          <tr class="row">
            <td class="left-col">
              <span>Invoice#</span>
              <span *ngIf="isEditMode"
                class="asterisk">*</span>
            </td>
            <td class="right-col">
              <span *ngIf="!isEditMode">{{transaction?.invoiceId}}</span>
              <mat-form-field *ngIf="isEditMode" 
                class="input-wrapper">
                <input matInput 
                  name="invoice-id"
                  [value]="transaction?.invoiceId"
                  (input)="onInput($event.target.value, 'invoiceId')">
              </mat-form-field>
            </td>
          </tr>
          <tr class="row">
            <td class="left-col">
              <span>Invoice Amount</span>
              <span *ngIf="isEditMode"
                class="asterisk">*</span>
            </td>
            <td class="right-col">
              <span *ngIf="!isEditMode">{{transaction?.invoiceAmount}}</span>
              <mat-form-field *ngIf="isEditMode" 
                class="input-wrapper">
                <input matInput 
                  name="invoice-amount"
                  [value]="transaction?.invoiceAmount"
                  (input)="onInput($event.target.value, 'invoiceAmount')">
              </mat-form-field>
            </td>
          </tr>
          <tr class="row">
            <td class="left-col">
              <span>Payment</span>
              <span *ngIf="isEditMode"
                class="asterisk">*</span>
            </td>
            <td class="right-col">
              <span *ngIf="!isEditMode">{{transaction?.payment}}</span>
              <mat-form-field *ngIf="isEditMode" 
                class="input-wrapper">
                <input matInput 
                  name="payment"
                  [value]="transaction?.payment"
                  (input)="onInput($event.target.value, 'payment')">
              </mat-form-field>
            </td>
          </tr>
          <tr class="row">
            <td class="left-col">
              <span>Collected By</span>
              <span *ngIf="isEditMode"
                class="asterisk">*</span>
            </td>
            <td class="right-col">
              <span *ngIf="!isEditMode">{{transaction?.agentName}}</span>
              <mat-form-field *ngIf="isEditMode" 
                class="input-wrapper">
                <input matInput 
                  name="agent-name"
                  [value]="transaction?.agentName"
                  (input)="onInput($event.target.value, 'agentName')">
              </mat-form-field>
            </td>
          </tr>
          <tr class="row">
            <td class="left-col">
              <span>Operator</span>
              <span *ngIf="isEditMode"
                class="asterisk">*</span>
            </td>
            <td class="right-col">
              <span *ngIf="!isEditMode">{{transaction?.operatorName}}</span>
              <mat-form-field *ngIf="isEditMode" 
                class="input-wrapper">
                <input matInput 
                  name="operator-name"
                  [value]="transaction?.operatorName"
                  (input)="onInput($event.target.value, 'operatorName')">
              </mat-form-field>
            </td>
          </tr>
          <tr class="row">
            <td class="left-col">Created On</td>
            <td class="right-col">
              <span>{{transaction?.creationDate | date}}</span>
            </td>
          </tr>
          <tr *ngIf="transaction?.isUpdated"
              class="row">
            <td class="left-col">Updated On</td>
            <td class="right-col">{{transaction?.updationDate | date}}</td>
          </tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="info-footer">
        <button mat-raised-button
          color="accent"
          class="back-info-button"
          (click)="onBack()">Back</button>
        <button mat-raised-button
          *ngIf="!isEditMode"
          color="accent"
          class="edit-info-button"
          (click)="onEdit(transaction)">Edit</button>
        <button mat-raised-button
          *ngIf="isEditMode"
          color="accent"
          class="edit-info-button"
          (click)="onDone()">Done</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
