<!-- Add Sidenavbar -->
<app-details-info #infoComponent
  [entityId]="entityId"></app-details-info>

<div class="transaction-container">
  <div>
    <ngx-datatable class="material flat"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="ColumnMode.flex"
      [headerHeight]="50"
      [loadingIndicator]="isLoading"
      [footerHeight]="'auto'"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="totalElements"
      [displayCheck]="displayCheck"
      [limit]="pageSize"
      [offset]="pageNumber"
      (page)="setPage($event)"
      [selectionType]="SelectionType.single"
      [selectAllRowsOnPage]="false"
      (select)="onSelect($event)">
      <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false"
        [resizeable]="true" [headerCheckboxable]="true" [checkboxable]="true">
      </ngx-datatable-column>
      <ngx-datatable-column name="#" [flexGrow]=".5">
        <ng-template let-row="row" let-expanded='expanded' let-rowIndex='rowIndex' ngx-datatable-cell-template>
          <span>{{row.serialNo}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Retailer" [flexGrow]="2">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.retailerName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Company" [flexGrow]="1.5">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.companyName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Route" [flexGrow]="2.5">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.routeName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Agent" [flexGrow]="1.5">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.agentName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Invoice Amount" [flexGrow]="1">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>₹ {{row.invoiceAmount}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Payment" [flexGrow]="1">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>₹ {{row.payment}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date" [flexGrow]="1">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.date}}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <div class="approve-button" *ngIf="auth.isAdmin() && !isDeleteMode && selected.length > 0" (click)="approve()"
    role="button">
    <i class="material-icons">
      check
    </i>
  </div>
  <div class="delete-button" *ngIf="auth.isAdmin() && isDeleteMode && selected.length > 0" (click)="delete()"
    role="button">
    <i class="material-icons">
      delete
    </i>
  </div>
</div>