<div class="transaction-container">
  <div>
    <ngx-datatable
      class="material"
      [rows]="rows"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [loadingIndicator]="isLoading"
      [footerHeight]="'auto'"
      [rowHeight]="'auto'"
      [externalPaging]="true"
      [count]="totalElements"
      [limit]="pageSize"
      [offset]="pageNumber"
      (page)="setPage($event)"
      (activate)="onSelectRow($event)">
      <ngx-datatable-column name="Sl#" [flexGrow]="0.5">
        <ng-template let-row="row" let-expanded='expanded' let-rowIndex='rowIndex' ngx-datatable-cell-template>
          <span>{{row.serialNo}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Retailer" [flexGrow]="2.5">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.retailerName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Company" [flexGrow]="1">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.companyName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Route" [flexGrow]="2">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.routeName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Agent" [flexGrow]="2">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.agentName}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Invoice Amount" [flexGrow]="1.5">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.invoiceAmount}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Payment" [flexGrow]="1">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.payment}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Date" [flexGrow]="1.5">
        <ng-template let-row="row" let-expanded='expanded' ngx-datatable-cell-template>
          <span>{{row.date}}</span>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>